<body>
    
    
    <mat-card class="card">
      <mat-card-title>Veuillez entrer vos infomations</mat-card-title>
      <div class="inputs" >
        <form>
      <mat-form-field  appearance="fill" color="accent" [floatLabel]="'never'"  class="fieldMid">
        <input matInput placeholder="Email" type="text" id="email">
      </mat-form-field>
    
      <mat-form-field  appearance="fill" color="accent"  [floatLabel]="'never'"  class="fieldBot">
        <input matInput placeholder="Mot de passe" type="password" value="pass" id="password">
      </mat-form-field>
      <button mat-button  class="bouton" id="send">Envoyer</button>
    </form>
    </div>
    
    
    
    <button mat-button  class="bouton" >Déja un compte? Clique ici!</button>
    </mat-card>
    
    
    </body>
    