/* You can add global styles to this file, and also import other style files */

body{
    
    //background-color: rgb(235, 235, 235);
    //background-color: rgb(134, 204, 134);
    //background-image: url("https://get.pxhere.com/photo/plant-fruit-food-red-produce-vegetable-market-tomato-tomatoes-frisch-flowering-plant-land-plant-potato-and-tomato-genus-1221993.jpg");
    
    
}


.example-spacer {
    flex: 1 1 auto;
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


