<body>
<p> <mat-toolbar >
    <mat-toolbar-row>
    <button mat-icon-button  aria-label="Example icon-button with menu icon">
       <!-- <mat-icon>home</mat-icon>-->
      </button>
      <h1>Jardin 514</h1>
      <span class="example-spacer"></span>
      <div class="mainButtons">
        <button mat-button routerLink='/search'> 
            <mat-icon class="search">search</mat-icon>
            Recherche
        </button>
        <button mat-button routerLink='/sign-in'> 
            <mat-icon class="search">person_outline</mat-icon>
            Mon Compte
        </button>
  
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</p>
</body>