<body (click)="initialize()">

<mat-grid-list cols="1" rowHeight="2:1">
  <mat-grid-tile class="mainPart">
  

<div class="searchBar">
 <p><b> Rechercher un jardin près de chez vous!</b></p>

    <mat-form-field  appearance="fill" color="accent" [hideRequiredMarker]="true" [floatLabel]="'never'" (keyUp.enter)="onSubmit($event)" class="field">
      <input matInput placeholder="Entrez le nom d'un jardin ou votre adresse" type="text" >
    </mat-form-field>

</div>
</mat-grid-tile>

<mat-grid-tile class = "mainPart">
  
  

</mat-grid-tile>
</mat-grid-list>
</body>

